[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "faust"]
	path = faust
	url = https://github.com/grame-cncm/faust.git
